<div class="hero bg-base-100 min-h-screen">
  <div class="container p-2">
    <div class="bg-white dark:bg-gray-300 rounded-lg px-6 py-8 ring shadow-xl ring-gray-900/5">
    <div class="hero-content justify-content-center text-center">
      <div class="max-w-11/12">
        <h1 class="text-2xl font-bold text-center text-gray-600 uppercase">En <span class="font-bold text-red-400">Tropicana CEA</span> superamos tus miedos para que conduzcas con libertad.</h1>
        <p class="py-6 text-justify text-xl">
          En <span class="font-bold text-red-400 ">Tropicana CEA</span>, transformamos el desafío de aprender a conducir en una experiencia emocionante. Con el respaldo de instructores expertos, superamos juntos tus miedos para que ganes la confianza de un conductor responsable. Más que una licencia, te brindamos formación de calidad en un ambiente motivador donde disfrutarás cada paso del proceso.
        </p>
        <button class="btn btn-wide text-gray-700 bg-red-500 hover:bg-red-400 hover:text-white">Empieza ahora..</button>
      </div>
    </div>
    </div>
  </div>
</div>


