.text-Instagram-icon{
  color: #E1306C; /* Instagram brand color */
}

.text-whatsapp-icon{
  color: #25D366; /* WhatsApp brand color */
}

.text-youtube-icon{
  color: #FF0000; /* YouTube brand color */
}

.text-facebook-icon{
  color: #1877F2; /* Facebook brand color */
}

.text-youtube-icon{
  color: #000000; /* X (Twitter) brand color */
}
